@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;700;800&display=swap');
/*-----------------------------------------style reset------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
a{
    text-decoration: none;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}
audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden] {
    display: none;
}
html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}



a:focus {
    outline: thin dotted;
}



a:active,
a:hover {
    outline: 0;
}

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

figure {
    margin: 0;
}

form {
    margin: 0;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

button,
input {
    line-height: normal;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

button[disabled],
html input[disabled] {
    cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: black;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}
.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
body{
    width: 100%;
    background-color: white;
    color:#000;
    font-family: Montserrat;
}
/*-----------------------------------------_styles------------------------------------------------------------*/
._wrapper{
    width: inherit;
    overflow: hidden;
    position: relative;
    min-height: 100vh;
}
._container{
    box-sizing: content-box;
    padding: 0 10px;
    margin: 0 auto;
    max-width: 1680px;
}
._btn{
    cursor: pointer;
    color: white;
    transition: all;
    transition-duration: 0.5s;
    &:hover{
        color: #FF2E00;
    }
}
/*-----------------------------------------header------------------------------------------------------------*/
header{
    position: absolute;
    width: 100%;
    z-index: 2;
    color: white;
    .header{
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo{
            display: flex;
            .logo__icon{
                height: 45px;
                width: 45px;
                background-color:#b3d4fc;
                margin-right: 10px;
                img{
                    height: 100%;
                    width: 100%;
                }
            }
            .logo__title{
                font-size: 15px;
                display: flex;
                align-items:center;
            }
        }
        .nav{
            font-size: 15px;
            display: flex;
            .nav__item:not(:last-child){
                margin-right: 15px;
            }
        }
        .burger_container{
            display: none;
            height: 50px;
            width: 50px;
            .burger{
                transition: height;
                transition-duration: 500ms;
                height: 50px;
                width: 50px;
                .burger__lines{
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items:center;
                    justify-content: space-around;
                    .burger__line{
                        height: 6px;
                        width: 100%;

                        background-color:white;
                    }
                }
                .burger__content{
                    display: none;
                }
            }
        }
        .burger_active {
            
            z-index: 2;
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
            .burger{
                position: absolute;
                top: 0;
                right: 0;
                background-color:rgb(50, 37, 58);
                height: fit-content;
                width: 300px;
                .burger__lines{
                    display: none;
                }
                .burger__content{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .nav__item{
                        padding: 10px 0;
                        margin: 10px 0;
                    }
                }
            }
        }
    }
}
/*-----------------------------------------main------------------------------------------------------------*/
.section-1{
    position: relative;
    height: 400px;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
    &::before{
        position: absolute;
        z-index: 1;
        content: '';
        height: 100%;
        width: 100%;
        // background: linear-gradient(86.38deg, rgba(0, 0, 0, 0.5) 0.5%, rgba(0, 0, 0, 0) 88.62%);
        background: rgba(62, 176, 125, 0.4);
    }
    img{
        position: absolute;
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
    .section-1__text{
        text-align: center;
        color:white;
        z-index: 1;
        font-size: 35px;
    }
}
.section-2{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items:center;
    .section-2__title{
        padding: 10px;
        font-size: 30px;
        font-weight: 500;
    }
    .section-2__text{
        padding: 10px;
        font-size: 20px;
        text-align: center;
    }
    .section-2__content{
        margin-top: 40px;
        display: grid;
        width: 700px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto-fill, fit-content);
        gap: 18px;
        .card{
            display: flex;
            align-items:center;

            .card__icon{
                min-width: 65px;
                height: 65px;
                background-color:rgba(62, 176, 125, 0.4);
                margin-right: 20px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .card__text{

            } 
        }
    }
}

/*-----------------------------------------footer------------------------------------------------------------*/
/*-----------------------------------------admin------------------------------------------------------------*/
.admin{
    height: 100vh;
    background-color:#000;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    .main-content{

        padding: 15px;
        border: 2px solid black;
        border-radius: 15px;
        width: 500px;
        display: flex;
        flex-direction: column;
        div{
            &:not(:last-child){
                margin-bottom: 30px;
            }
            position: relative;
            input{
                border: 2px solid black;
                border-radius: 15px;
                width: 100%;
                &:focus ~ span, :valid ~ span{
                    color:white;
                    transform: translateY(-20px);
                    background-color:#0C0C0C;
                }
                &:valid ~ span{
                    color:white;
                    transform: translateY(-20px);
                    background-color:#0C0C0C;
                }
            }
            textarea{
                border: 2px solid black;
                border-radius: 15px;
                width: 100%;
                &:focus ~ span, :valid ~ span{
                    color:white;
                    transform: translateY(-20px);
                    background-color:#0C0C0C;
                }
                &:valid ~ span{
                    color:white;
                    transform: translateY(-20px);
                    background-color:#0C0C0C;
                }
            }
            span{
                font-size: 15px;
                position: absolute;
                top:0;
                left: 13px;
            }
        }
    }
}
/*-----------------------------------------login------------------------------------------------------------*/
.login{
    height: 100vh;
    background-color:#000;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    form{
        height: fit-content;
        width: 300px;
        div{
            position: relative;
            input{
                height: 30px;
                border: 2px solid rgb(249, 60, 18);
                background-color:#000;
                border-radius: 15px;
                color:white;
                width: 100%;
                &:focus ~ span, :valid ~ span{
                    transition: all;
                    transition-duration: 300ms;
                    padding: 0 5px;
                    transform: translateY(-20px) translateX(100px);
                    background-color:#000;
                }
                &:valid ~ span{
                    transition: all;
                    transition-duration: 300ms;
                    padding: 0 5px;
                    transform: translateY(-20px) translateX(100px);
                    background-color:#000;
                }
            }
            span{
                color:rgb(249, 60, 18);
                font-size: 15px;
                position: absolute;
                top:10px;
                left: 13px;
            }
        }
        button{
            margin-top: 20px;
            width: 100%;
            color:rgb(249, 60, 18);
            background-color:#000;
            border: 2px solid rgb(249, 60, 18);
            border-radius: 15px;
            height: 30px;
        }
    }

}
/*-----------------------------------------media------------------------------------------------------------*/
@media(max-width: 970px){

}
@media(max-width: 750px){
    header{
        color: white;
        .header{
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .logo{
                display: flex;
                .logo__icon{
                    height: 45px;
                    width: 45px;
                    background-color:#b3d4fc;
                    margin-right: 10px;
                    img{
                        height: 100%;
                        width: 100%;
                    }
                }
                .logo__title{
                    font-size: 15px;
                    display: flex;
                    align-items:center;
                }
            }
            .nav{
                font-size: 15px;
                display: none;
                .nav__item:not(:last-child){
                    margin-right: 15px;
                }
            }
            .burger_container{
                display: block;
                height: 50px;
                width: 50px;
                .burger{
                    transition: height;
                    transition-duration: 500ms;
                    height: 50px;
                    width: 50px;
                    .burger__lines{
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items:center;
                        justify-content: space-around;
                        .burger__line{
                            height: 6px;
                            width: 100%;
    
                            background-color:white;
                        }
                    }
                    .burger__content{
                        display: none;
                    }
                }
            }
        }
    }
    .section-2{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items:center;
        .section-2__title{
            padding: 10px;
            font-size: 30px;
            font-weight: 500;
        }
        .section-2__text{
            padding: 10px;
            font-size: 20px;
        }
        .section-2__content{
            margin-top: 40px;
            display: grid;
            width: 500px;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(auto-fit, fit-content);
            gap: 18px;
            .card{
                display: flex;
                align-items:center;
    
                .card__icon{
                    min-width: 65px;
                    height: 65px;
                    background-color:rgba(62, 176, 125, 0.4);
                    margin-right: 20px;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .card__text{
                    
                } 
            }
        }
    }
}

@media(max-width: 550px){
    .section-2{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items:center;
        .section-2__title{
            padding: 10px;
            font-size: 30px;
            font-weight: 500;
        }
        .section-2__text{
            padding: 10px;
            font-size: 20px;
        }
        .section-2__content{
            margin-top: 40px;
            display: grid;
            width: 500px;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(auto-fit, fit-content);
            gap: 18px;
            .card{
                display: flex;
                align-items:center;
                flex-direction: column;
                .card__icon{
                    min-width: 120px;
                    height: 120px;
                    background-color:rgba(62, 176, 125, 0.4);
                    margin-right: 0;
                    margin-bottom: 15px;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .card__text{
                    text-align: center;
                } 
            }
        }
    }
}